@{
    ViewData["Title"] = ".NET 5.0, Kafka, SignalR";
}
<h1>Real time app with.NET 5.0, Kafka, SignalR</h1>

<script src="~/js/signalr/signalr.js"></script>
<script>
    var bookingHubConnection = new signalR.HubConnectionBuilder().withUrl("/bookinghub").build();
    bookingHubConnection.start().catch(err => {
        console.log('Error in connection: ' + err)
    });
    bookingHubConnection.on('booking', (message) => {
        //debugger;
        console.log('Received message: ' + message);
    });
</script>